<div class="row center-align">
  <div class="col-sm-offset-2 col-sm-8">
    <h1 class="super-large">
      LaTeX is hard. LaTeXFiddle makes it easier.
    </h1>
    <br />
    <p>
      Writing something simple using LaTeX for your homework or project used to involve downloading the tex distribution and figuring out how to make things work on the commandline or downloading expensive software. LaTeXFiddle is a no sign up, no download, no hassle LaTeX editor for testing out your LaTeX scripts. You get:
    </p>
    <br />
    <br />
    <div class="col-sm-offset-4 col-sm-4">
      <ul style="list-style-type: none">
        <li>- Easy to use LaTeX editor</li>
        <li>- Autocomplete for basic LaTeX commands</li>
        <li>- LaTeX Renderer</li>
        <li>- LaTeX templates</li>
        <li>- Download PDF</li>
        <li>- Error viewer</li>
      <ul>
    </div>
    <div style="clear:both"></div>
    <br />
    <br />
    <p>LatexFiddle uses the default Linux Tex Distribution.</p>
  </div>
</div>
